button{
    color: rgb(255, 245, 238);
    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
input{
    text-align: center;
    color: rgb(245, 245, 245);
    background-color: black;
}